@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        @apply text-xl text-gray-600;
    }
    .input {
        @apply ring-1 ring-green-400 outline-none 
        focus:ring-green-600 focus:ring-2 focus:outline-none text-xl px-2 py-1 w-72 rounded-md;
    }
    .label {
        @apply w-28 text-gray-600 text-xl;
    }
    .primaryButton {
        @apply bg-green-600 w-auto px-4 py-2 rounded-md text-white hover:bg-green-800 shadow-sm text-base font-medium;
    }
    .secondaryButton {
        @apply bg-red-600 w-auto px-4 py-2 rounded-md  hover:bg-red-800 shadow-sm text-base font-medium text-white;
    }
}

input:checked {
    @apply ring-2 ring-green-600 border-0;
}
input:checked + div svg {
    @apply block;
}
